.main {
  position: relative
}

.background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #191B1F;
}

.cover {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 160px;
}

/* Mobile */
@media (max-width: 700px) {
  .cover {
    align-items: flex-start;
    text-align: left;
    padding-top: 100px;
  } 
}

.avatar {
  margin-bottom: 16px;
}

.logo {
  margin-bottom: 12px;
}

.title {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 48px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

/* Mobile */
@media (max-width: 700px) {
  .actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }  
}

.button {
  color: white;
  background: rgba(25, 27, 31, 0.02);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.socialNetwork {
  display: flex;
  align-items: center;
  gap: 16px;
}